$main-color: #0a62f0;
$main-darker-color: #2943c7;
$text-color: #353535;
$text-contrast-color: #fdfdfd;
$accent: #faa900;
$bg-color: #e1e5f2;
$bg-diff-tone-color: #e4e2e2;
$bg-contrast-color: #272727;